a{
    color: skyblue !important;
}
.heading{
    text-align: center;
    color: #7a1818;
  }
.margin-bottom-15{
    margin-bottom: 15px;
}
.question-list {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
}
.question-list h4{
    margin: 0;
    padding: 0;
}
.question-list a,.question-title {
    font-size: 18px;
    text-decoration: none;
    color: #1c7194 !important;
}
.answer-wrapper{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
}
.my-question{
    display: flex;
    justify-content: space-between;
}
.logo{
    background-color: transparent;
    border: none;
    width: 100px;
    height: auto;

}
.question-box {
  background-color: #d64a12;
  border-left: 5px solid #3498db;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .questions, .categories {
    width: 100% !important;
  }
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  background-color: #fdfdfd;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #2c3e50;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.question-box {
  background-color: #d64a12;
  border-left: 5px solid #3498db;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.question-list {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    background-color: #ee2e0c;
}